<nb-card [nbSpinner]="course == null" nbSpinnerSize="xxlarge">
    <nb-card-body *ngIf="course != null">
      <div class="row">
        <div class="col-sm-12 d-flex flex-row align-items-baseline flex-wrap">
          <div class="mb-2 flex-shrink-0">
            <ngx-switcher
              [firstValue]="false" firstValueLabel="Hide inactive users"
              [secondValue]="true" secondValueLabel="Show inactive users"
              [value]="showInactiveUsers"
              (valueChange)="showInactiveUsersChange($event)">
            </ngx-switcher>
          </div>
          <div class="flex-grow-1"></div>
          <div class="flex-shrink-0">
            <button nbButton class="ml-1 mb-1" (click)="downloadGradingExport()" status="success" [nbSpinner]="downloadingProgressExport">Export grading</button>
          </div>
          <div class="flex-shrink-0">
            <button nbButton class="ml-1 mb-1" (click)="downloadProgressExport()" status="success" [nbSpinner]="downloadingProgressExport">Export full progress</button>
          </div>
          <div class="flex-shrink-0">
            <button nbButton class="ml-2 mb-1" outline [nbPopover]="progressTabGuideComponent" nbPopoverMode="hint" i18n="@@progressGuideButton">Guide</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <nb-route-tabset [tabs]="tabs" #tabSet>
          </nb-route-tabset>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
