<div class="row" *ngIf="!user" [nbSpinner]="true" nbSpinnerSize="xxlarge"></div>
<div class="row" *ngIf="user">
  <div class="col-md-6">
    <nb-card [nbSpinner]="!user" nbSpinnerSize="xxlarge">
      <nb-card-header>
        User Details
      </nb-card-header>
      <nb-card-body>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Full name</th>
              <td>{{user?.fullName}}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{user?.email}}</td>
            </tr>
            <tr>
              <th scope="row">Registered</th>
              <td>{{user?.created | displayDateTime}}</td>
            </tr>
            <tr>
              <th scope="row">Last active</th>
              <td>{{user?.lastActive | displayDateTime}}</td>
            </tr>
            <tr>
              <th scope="row">Signed user agreement</th>
              <td><a href="{{signedAgreement?.pdfUrl}}" target="_blank">{{user?.userAgreementSignDate |
                  displayDateTime}}</a></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
    <nb-card [nbSpinner]="!user" nbSpinnerSize="xxlarge">
      <nb-card-header>
        Conversations
      </nb-card-header>
      <nb-card-body>
        <p>
          <button nbButton (click)="onStartConversation()" [disabled]="!loggedInUser || loggedInUser.ref === userRef">Start conversation</button>
        </p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card [nbSpinner]="!user" nbSpinnerSize="xxlarge">
      <nb-card-header>
        Enrolled Courses
      </nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
            <tr>
              <th>Course name</th>
              <th>Period</th>
              <th>Avatar name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of user?.courses" [ngClass]="{'table-active': course.ref === selectedCourse.ref }">
              <td>{{course.name}}</td>
              <td>Q{{course.quarter}}&nbsp;{{course.year}}</td>
              <td>{{progress(course).displayName}}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
    <nb-card [nbSpinner]="!user" nbSpinnerSize="xxlarge" *ngIf="progress(selectedCourse)">
      <nb-card-header>
        {{selectedCourse.name}}
      </nb-card-header>
      <nb-card-body>
        <p>Inactive users of a course will not be included in the review process, but can login, view the library content, and take tests/rubrics in the library.</p>
        <p><ngx-switcher
          #userActiveSwitch
          [firstValue]="true" firstValueLabel="Active"
          [secondValue]="false" secondValueLabel="Not active"
          [value]="progress(selectedCourse).active"
          (valueChange)="confirmUserActiveChange($event)">
        </ngx-switcher></p>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #confirmSetInactiveDialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Confirm setting user to {{ data.userActive ? 'active'  : 'inactive' }}</nb-card-header>
      <nb-card-body>
        <p>
          Are you sure you want to set user <b>{{user?.fullName}}</b> to <b>{{ data.userActive ? 'active'  : 'inactive' }}</b> for course <b>{{selectedCourse.name}}</b>.
        </p>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()" status="info" outline>No</button><button nbButton (click)="setUserActive(data.userActive, selectedCourse, ref)">Yes</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
