<nb-card [nbSpinner]="loading" nbSpinnerSize="xxlarge">
  <nb-card-header i18n="@@usersHeader">
    {mainRole, select, ADMINISTRATOR {Administrators} TEACHER {Teachers} LEARNER {Students}}
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (edit)="onSelectUser($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
