<nb-card *ngIf="!resource && !isNew" [nbSpinner]="true" nbSpinnerSize="xxlarge" size="small"></nb-card>
<form [formGroup]="resourceForm" (ngSubmit)="saveChanges()" *ngIf="resource || isNew">
  <nb-card [ngClass]="{'border border-warning': !canDeactivate()}">
    <nb-card-header>
      <ngx-click-to-edit placeholder="Resource name..." [formControl]="resourceForm.controls.name" [editing]="isNew" [status]="controlStatus('name', resourceForm, false)"></ngx-click-to-edit>
    </nb-card-header>
    <nb-card-body [nbSpinner]="saving" nbSpinnerSize="xxlarge">

      <div [ngClass]="{'card-scrollbox-large': large, 'card-scrollbox-medium': medium, 'card-scrollbox-small': small}">
        <div class="row">
          <div class="col-sm-12">
            <p><small i18n="Warn users about the immediate visibility of saved changes@@savedChangesWarning">Saved changes will be visible to all students.</small></p>
          </div>
        </div>

        <p i18n="Resource type selection label@@resourceTypeSelectionLabel">Resource type</p>

        <div ngbRadioGroup class="btn-group btn-group-toggle" data-toggle="buttons" formControlName="resourceType">
          <label ngbButtonLabel class="btn btn-outline-primary">
            <input ngbButton type="radio" value="TEXT"> <span i18n="@@resourceEditorResourceTypeTextLabel">Text</span>
          </label>
          <label ngbButtonLabel class="btn btn-outline-primary">
            <input ngbButton type="radio" value="URL"> <span i18n="@@resourceEditorResourceTypeExternalURLLabel">External URL</span>
          </label>
          <label ngbButtonLabel class="btn btn-outline-primary">
            <input ngbButton type="radio" value="FILE_UPLOAD"> <span i18n="@@resourceEditorResourceTypeUploadLabel">Uploaded file</span>
          </label>
        </div>
        <p></p>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description" i18n="@@resourceEditorDescriptionLabel">Description</label>
              <ngx-text-mesh-pro-text-editor formControlName="description" id="description" [status]="controlStatus('description', resourceForm)">
              </ngx-text-mesh-pro-text-editor>
            </div>

            <div class="form-group" [hidden]="resourceType !== 'URL'">
              <div class="flex-shrink-0"><label for="url" i18n="@@resourceEditorURLLabel">URL</label></div>
              <div class="d-flex flex-row align-items-baseline">
                <div class="flex-grow-1">
                  <input style="text-decoration: underline;" nbInput type="text" fullWidth formControlName="url" id="url" placeholder="https://..."
                         [status]="controlStatus('url', resourceForm)" >
                </div>
                <div class="flex-shrink-0">
                  <a target="_blank" [attr.href]="resourceForm.controls.url.value" nbButton [status]="'info'" size="small">
                    <i class="fa fa-external-link-alt"></i> <span i18n="@@resourceEditorOpenResourceURLButton"> Open</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="form-group" [hidden]="resourceType !== 'FILE_UPLOAD'">
              <ngx-file-uploader
                formControlName="fileUploadMetadata"
                id="fileUploadMetadata"
                [status]="controlStatus('fileUploadMetadata', resourceForm, false)"
                [maxSize]="maxContentFileSize"
              ></ngx-file-uploader>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12" *ngIf="resourceForm.controls['quiz'] == null">
            <div class="col-sm-12">
              <h5 i18n="@@resourceEditorQuizHeader">Test</h5>
            </div>
            <p><button nbButton type="button" status="success" (click)="onAddQuizClicked()">
              <i class="fa fa-plus"></i> <span i18n="@@resourceEditorAddTestButton"> Add test</span>
            </button></p>
          </div>

          <div class="col-sm-12" *ngIf="resourceForm.controls['quiz'] != null">
            <div class="test-header">
              <h5 i18n="@@resourceEditorQuizHeader">Test</h5>
              <button nbButton type="button" status="danger" (click)="onRemoveQuizClicked()">
                <i class="fa fa-trash"></i> <span i18n="@@resourceEditorRemoveTestButton"> Remove test</span>
              </button>
            </div>

            <div class="form-group">
              <ngx-rubric-editor formControlName="quiz"></ngx-rubric-editor>
            </div>

            <div class="form-group">
              <label for="quizMinimalScore" i18n="@@resourceEditorMinimalQuizScoreLabel">Minimal test score</label>
              <input class="ml-2"
                     nbInput
                     type="number"
                     formControlName="quizMinimalScore"
                     id="quizMinimalScore"
                     shape="round"
                     [max]="maxQuizScore"
                     [status]="invalidMinimalQuizScore ? 'danger' : controlStatus('quizMinimalScore', resourceForm)">
              <span class="ml-5" i18n="@@resourceEditorMaximalQuizScoreLabel">Maximal test score: {{maxQuizScore}}</span>
            </div>

            <div class="form-group">
              <label for="skillRef" i18n="Skill/book label@@skillLabel">Skill/Book</label>
              <ngx-skill-selection
                id="skillRef"
                formControlName="skillRef"
                [allSkills]="course.skills"
                [status]="controlStatus('skillRef', resourceForm)">

              </ngx-skill-selection>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" [disabled]="this.resourceForm.invalid || this.resourceForm.pristine" nbButton status="primary" i18n="@@resourceEditorSaveButton">Save</button>
    </nb-card-footer>

  </nb-card>
</form>


