@import '~@nebular/theme/components/input/input-colors';
@import '../../../../@theme/styles/themes';

.card-scrollbox-large {
  @include scrollbox(calc(#{content-card-height()} - 11.6rem));
}

.card-scrollbox-medium {
  @include scrollbox(calc(#{content-card-height()} - 17rem));
}

.card-scrollbox-small {
  @include scrollbox(50rem);
}

.test-header {
  h5 {
    padding: 0.4rem 0;
  }

  button {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

a {
  margin-left: 10px;
}
