@import '~@nebular/theme/components/input/input-colors';
@import '../styles/themes';

.status-indicator {
  @include input-colors();
  border-style: #{nb-theme(form-control-border-type)};
  border-width: #{nb-theme(form-control-border-width)};
  border-color: #{nb-theme(card-bg)};
}
