@import '~@nebular/theme/components/input/input-colors';
@import '../../../@theme/styles/themes';

.editor-container {
  @include input-colors();
  border-style: #{nb-theme(form-control-border-type)};
  border-width: #{nb-theme(form-control-border-width)};
  border-color: #{nb-theme(card-bg)};
}
