<div ngxStatusIndicator [status]="status">
  <quill-editor #editor
                [modules]="quillModulesConfig"
                [readOnly]="readOnly"
                [placeholder]="placeholder"
                format="object">
  </quill-editor>
</div>
