<nb-card>
  <nb-card-header><span i18n="@@defaultConfirmLeaveWithoutSavingPopupHeader">There are unsaved changes</span></nb-card-header>
  <nb-card-body>
    <span i18n="@@defaultConfirmLeaveWithoutSavingPopupMessage">This page contains unsaved changes. If you leave, these changes will not be saved. Do you want to leave without saving changes?</span>
  </nb-card-body>
  <nb-card-footer>
    <div class="dialog-button"><button nbButton status="danger" (click)="onConfirmLeaveWithoutSaving()">
      <span i18n="@@defaultConfirmLeaveWithoutSavingPopupConfirmButtonText">Yes</span></button>
    </div>
    <div class="dialog-button"><button nbButton (click)="dialogRef.close()" status="info" outline>
      <span i18n="@@defaultConfirmLeaveWithoutSavingPopupCancelButtonText">Cancel</span>
    </button></div>
  </nb-card-footer>
</nb-card>
