<nb-card [nbSpinner]="course == null" nbSpinnerSize="xxlarge">
 
    <nb-card-body>
      <div class="header">
        <h4>Review Steps</h4>
      </div>
      <div>
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onSelectReviewStep($event)">
        </ng2-smart-table>
      </div>
    </nb-card-body>
  </nb-card> 