<div class="row">
  <div class="col-md-6 col-sm-12">
    <nb-card [nbSpinner]="refreshingServerInfo">
      <nb-card-header i18n="@@serverInfoHeader">Info</nb-card-header>
      <nb-card-body>
        <p><button nbButton type="button" (click)="refreshServerInfo()" i18n="@@serverInfoRefreshButton">Refresh info</button></p>
        <table class="table">
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverInfoTime">Time</span></td>
            <td>{{info.currentTime | displayDateTime}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverReviewStepUploadMaxSize">Review step upload max size</span></td>
            <td>{{info.reviewStepUploadMaxSize | bytes}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@ServerInfoReviewStepUploadAllowedFileExtensions">Review step upload allowed file extensions</span></td>
            <td>{{info.reviewStepUploadAllowedFileExtensions | join: ', '}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverInfoReviewStepUploadAllowedMimeTypes">Review step upload MIME types</span></td>
            <td>{{info.reviewStepUploadAllowedMimeTypes | join: ', '}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverInfoContentUploadMaxSize">Content upload max size</span></td>
            <td>{{info.contentUploadMaxSize | bytes}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverInfoContentUploadAllowedFileExtensions">Content upload allowed file extensions</span></td>
            <td>{{info.contentUploadAllowedFileExtensions | join: ', '}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverInfoTime">Content upload allowed MIME types</span></td>
            <td>{{info.contentUploadAllowedMimeTypes | join: ', '}}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverInfoTime">Allowed e-mail domains</span></td>
            <td>{{info.allowedEmailDomains | join: '; '}}</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-sm-12">
    <nb-card>
      <nb-card-header i18n="@@serverCacheHeader">Cache</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="clearCache()" [nbSpinner]="clearingCache" i18n="@@serverClearCacheButton">Clear cache</button>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header i18n="@@serverHeader">Server</nb-card-header>
      <nb-card-body>
        <table class="table">
          <tr>
            <td><span class="font-weight-bold" i18n="@@serverURL">URL</span></td>
            <td>{{url}}</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
