<div class="row" *ngIf="!reviewStep" [nbSpinner]="true" nbSpinnerSize="xxlarge"></div>
<div class="row" *ngIf="reviewStep">
  <div class="col-sm-12 col-lg-6">
    <nb-card>
      <nb-card-header>
        Review Step
      </nb-card-header>
      <nb-card-body>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Chapter</th>
              <td>{{chapterIndex + 1}}. {{chapter.name}}</td>
            </tr>
            <tr>
              <th scope="row">Index</th>
              <td>{{chapterIndex + 1}}.{{reviewStepIndex + 1}}</td>
            </tr>
            <tr>
              <th scope="row">Name</th>
              <td>{{reviewStep.name}}</td>
            </tr>
            <tr>
              <th scope="row">(To be) executed by</th>
              <td>{{humanReadablePeerType(reviewStep.peerType)}}</td>
            </tr>
            <tr>
              <th scope="row">Deadline</th>
              <td>{{reviewStep.deadline | displayDateTime}}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <nb-card>
      <nb-card-header>
        Description
      </nb-card-header>
      <nb-card-body>
          <p [innerHTML]="sanitizeHtml(reviewStep.description)" class="pre-wrap"></p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-12 col-lg-6" *ngIf="reviewStep.fileUpload">
    <nb-card>
      <nb-card-header>
        File Upload
      </nb-card-header>
      <nb-card-body>
        <p><b>Upload description/name</b></p>
        <p [innerHTML]="sanitizeHtml(reviewStep.fileUploadName)"></p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-12 col-lg-6" *ngIf="reviewStep.discussionType !== 'NONE'">
    <nb-card>
      <nb-card-header>
        Discussion
      </nb-card-header>
      <nb-card-body>

        <p *ngIf="reviewStep.discussionType === 'FREE_FORM_ARGUMENTS'">Users can add free-form arguments (at least one is required)</p>
        <p *ngIf="reviewStep.discussionType === 'REPLY'">Users should respond to all previously submitted arguments</p>
        <div *ngIf="reviewStep.discussionType === 'RESTRICTED_ARGUMENTS'">
          <p>The user must discuss using the following selection of argument types:</p>
          <ngx-argument-type-list [argumentTypes]="displayArgumentTypes"></ngx-argument-type-list>
        </div>

        <p><span style="color: red;" >*</span> Argument is required; Users in the Great Library will see one of
          each of these arguments appear when they start their review</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-12 col-lg-6" *ngIf="reviewStep.quiz != null">
    <nb-card>
      <nb-card-header>
        Rubrics
      </nb-card-header>
      <nb-card-body>
        <ngx-rubrics-detail [quiz]="reviewStep.quiz"></ngx-rubrics-detail>
      </nb-card-body>
    </nb-card>
  </div>
</div>
