<div class="row" *ngIf="!reviewStep" [nbSpinner]="true" nbSpinnerSize="xxlarge"></div>
<div *ngIf="reviewStep">
  <form class="row" [formGroup]="reviewStepForm" (ngSubmit)="saveChanges()">

    <div class="col-sm-12 mb-2 buttons-container">
      <a nbButton class="nav-button" [routerLink]="previousReviewStep ? '../' + previousReviewStep.ref : null" [disabled]="previousReviewStep == null" [status]="'info'">Previous</a>
      <button class="save-button" type="submit" nbButton [disabled]="reviewStepForm.invalid || reviewStepForm.pristine" [status]="'primary'">Save</button>
      <a nbButton class="nav-button" [routerLink]="nextReviewStep ? '../' + nextReviewStep.ref : null" [disabled]="nextReviewStep == null" [status]="'info'">Next</a>
    </div>

    <div class="col-sm-12 col-lg-6">
      <nb-card [ngClass]="{'border border-warning': !canDeactivate()}" [nbSpinner]="saving">
        <nb-card-header>
          {{reviewStep.name}}
        </nb-card-header>
        <nb-card-body>
          <table class="table">
            <tbody>
            <tr>
              <th scope="row" i18n="@@reviewStepEditorChapterLabel">Chapter</th>
              <td>{{chapterIndex + 1}}. {{chapter.name}}</td>
            </tr>
            <tr>
              <th scope="row" i18n="@@reviewStepEditorReviewStepIndexLabel">Index</th>
              <td>{{chapterIndex + 1}}.{{reviewStepIndex + 1}}</td>
            </tr>
            <tr>
              <th scope="row" i18n="@@reviewStepEditorExecutedByLabel">(To be) executed by</th>
              <td>{{humanReadablePeerType(reviewStep.peerType)}}</td>
            </tr>
            <tr>
              <th scope="row" i18n="@@reviewStepEditorDeadlineLabel">Deadline</th>
              <td><ngx-date-time-picker formControlName="deadline"></ngx-date-time-picker></td>
            </tr>
            <tr>
              <th scope="row" i18n="@@reviewStepEditorDisabledLabel">Disabled</th>
              <td>
                <nb-checkbox formControlName="disabled"
                             [disabled]="(nextReviewStep != null && !nextReviewStep.disabled) ||
                              (previousReviewStep != null && previousReviewStep.disabled)"
                ></nb-checkbox>
              </td>
            </tr>
            <tr *ngIf="nextReviewStep != null && !nextReviewStep.disabled">
              <td colspan="2">Only the last active review step in each chapter can be disabled.</td>
            </tr>
            <tr *ngIf="previousReviewStep != null && previousReviewStep.disabled">
              <td colspan="2">Only the first disabled review step in each chapter can be activated.</td>
            </tr>
            </tbody>
          </table>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="reviewStep.quiz != null" [ngClass]="{'border border-warning': !canDeactivate()}" [nbSpinner]="saving">
        <nb-card-header class="review-step-part-header">
          <div class="header-text">
            <span i18n="@@reviewStepEditorRubricsHeader">Rubrics</span>
          </div>
          <div class="spacer"></div>
          <button nbButton type="button" [status]="'info'" size="small" (click)="onEditRubricsClicked()">
            <i class="fas fa-edit"></i>&nbsp;
            <span i18n="@@reviewStepEditorEditRubricButton">Edit</span>
          </button>
        </nb-card-header>
        <nb-card-body>
          <div [hidden]="!editRubrics">
            <ngx-rubric-editor [formControl]="reviewStepForm.controls.quiz"></ngx-rubric-editor>
          </div>
          <div [hidden]="editRubrics">
            <ngx-rubrics-detail [quiz]="reviewStepForm.controls.quiz.value"></ngx-rubrics-detail>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-12 col-lg-6">
      <nb-card [ngClass]="{'border border-warning': !canDeactivate()}" [nbSpinner]="saving">
        <nb-card-header i18n="@@reviewStepEditorDescriptionLabel">
          Description
        </nb-card-header>
        <nb-card-body>
          <ngx-text-mesh-pro-text-editor formControlName="description"></ngx-text-mesh-pro-text-editor>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="reviewStep.fileUpload" [ngClass]="{'border border-warning': !canDeactivate()}" [nbSpinner]="saving">
        <nb-card-header>
          File Upload
        </nb-card-header>
        <nb-card-body>
          <p><b>Upload description/name</b></p>
          <ngx-text-mesh-pro-text-editor formControlName="fileUploadName"></ngx-text-mesh-pro-text-editor>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="reviewStep.discussionType !== 'NONE'" [ngClass]="{'border border-warning': !canDeactivate()}" [nbSpinner]="saving">
        <nb-card-header>
          Argument types
        </nb-card-header>
        <nb-card-body>

          <p *ngIf="reviewStep.discussionType === 'FREE_FORM_ARGUMENTS'">Users can add free-form arguments (at least one is required)</p>
          <p *ngIf="reviewStep.discussionType === 'REPLY'">Users should respond to all previously submitted arguments</p>
          <div *ngIf="reviewStep.discussionType === 'RESTRICTED_ARGUMENTS'">
            <p>The user must discuss using the following selection of argument types:</p>
            <ngx-argument-type-list [argumentTypes]="displayArgumentTypes"></ngx-argument-type-list>
          </div>

          <p><span style="color: red;" >*</span> Argument is required; Users in the Great Library will see one of
            each of these arguments appear when they start their review</p>
        </nb-card-body>
      </nb-card>
    </div>
  </form>
</div>
