.buttons-container {
  display: flex;
  align-items: baseline;

  .nav-button {
    flex-shrink: 1;
    min-width: 10rem;
  }
  button.save-button {
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.review-step-part-header {

  display: flex;
  flex-flow: row;
  align-items: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .header-text {
    flex-shrink: 1;
  }

  .spacer {
    flex-grow: 1;
  }

  button {
    float: right;
    flex-shrink: 1;

  }
}
