<div ngxStatusIndicator [status]="status">
  <div class="d-flex flex-row flex-nowrap align-items-baseline mb-1">
    <div
      ngfDrop
      class = "flex-grow-1 well drop-zone"
      [selectable] = "!disabled"
      [fileDropDisabled]="disabled"
      [(validDrag)]    = "baseDropValid"
      [class.invalid-drag] = "baseDropValid===false"
      [class.valid-drag]   = "baseDropValid"
      [maxSize]="maxSize"
      [(file)]="file"
      (filesChange)="fileChanged($event)"
    >
      <span id="drop-hint" *ngIf="!file"><i class="fa fa-file"></i> Drop your file here, or click to select a file</span>
      <span *ngIf="file"><i ngxFileIcon [fileName]="file.name"></i> {{file.name}}</span>
    </div>
    <div class="flex-shrink-0">
      <button nbButton
              type="button"
              class="ml-2"
              [status]="'success'"
              [disabled]="!file || uploading"
              (click)="onUploadClicked()"
              [nbSpinner]="uploading"
      >
        <i class="fas fa-upload"></i> Upload
      </button>
    </div>
  </div>

  <div class="mb-2">
    <ngfUploadStatus
      [(percent)] = "progress"
      [httpEvent] = "httpEvent"
    ></ngfUploadStatus>

    <nb-progress-bar [value]="progress"></nb-progress-bar>
  </div>

  <div>
    Current file:
    <span *ngIf="!fileUploadMetadata">none</span>
    <span *ngIf="fileUploadMetadata">
      <a target="_blank" [attr.href]="fileUploadMetadata.downloadUrl"><i ngxFileIcon [fileName]="fileUploadMetadata.filename"></i> {{fileUploadMetadata.filename}}</a>
      (Uploaded on {{fileUploadMetadata.created | displayDateTime}})
    </span>
  </div>
</div>
