.drop-zone {
  border: dotted 3px lightgray;
  padding: 1rem;
  cursor: pointer;
}

.invalid-drag {
  border: dotted 3px red;
}

.valid-drag {
  border: dotted 3px green;
}

.previewIcon {
  width:100px;
  height:100px;
  background-size:cover;
  background-repeat:no-repeat;
}

.inline-block {
  display: inline-block;
  margin: 0.2em;
}
