<div class="row">
  <div class="col-md-4 col-sm-12">
    <nb-card [nbSpinner]="course == null" nbSpinnerSize="xxlarge">
      <nb-card-header>
        Resources
      </nb-card-header>
      <nb-card-body>
        <p><button nbButton type="button" status="success" (click)="onNewResourceClicked()"><i class="fa fa-plus"></i> New resource</button></p>

        <div>
          <ngx-resource-list
            [resources]="_allResources"
            [selectedResourceRef]="resourceRef"
            size="large"
            (resourceSelected)="onResourceSelected($event)"
            ></ngx-resource-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-8 col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
