<nb-card>
  <nb-card-header>
    {{section.name}}
  </nb-card-header>
  <nb-card-body>
    <div [innerHTML]="section.description | textMeshProToHtml"></div>

    <nb-accordion [multi]="true">
      <nb-accordion-item *ngFor="let resourceRelation of section.resourceRelations">
        <nb-accordion-item-header>{{resources[resourceRelation.resourceRef].name}}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div [innerHTML]="resources[resourceRelation.resourceRef].description | textMeshProToHtml"></div>
          <div *ngIf="resources[resourceRelation.resourceRef].url">
            <a nbButton [href]="resources[resourceRelation.resourceRef].url" target="_blank" [status]="'info'">
              <i class="fa fa-external-link-alt"></i> <span i18n="@@sectionViewerOpenResourceURLButton">Open</span>
            </a>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
