<nb-card *ngIf="!isNew && !section" [nbSpinner]="true" nbSpinnerSize="xxlarge"></nb-card>
<form [formGroup]="sectionForm" (ngSubmit)="saveChanges()">
<nb-card
  *ngIf="section || isNew"
  [ngClass]="{'border border-warning': !canDeactivate()}"
>
  <nb-card-header>
    <ngx-click-to-edit placeholder="Section title..." [formControl]="sectionForm.controls.name" [editing]="isNew" [status]="controlStatus('name', sectionForm)"></ngx-click-to-edit>
<!--    <input type="text" formControlName="name">-->
  </nb-card-header>
  <nb-card-body
    [nbSpinner]="saving" nbSpinnerSize="xxlarge"
  >

    <div class="row">
      <div class="col-sm-12">
        <p><small><span i18n="Warn users about the immediate visibility of saved changes@@savedChangesWarning">Saved changes will visible to all students.</span></small></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="section-description">Section content:</label>
          <ngx-text-mesh-pro-text-editor formControlName="description" id="section-description">
          </ngx-text-mesh-pro-text-editor>
        </div>
        <div class="form-group" *ngIf="(isNew && newSectionParentRef) || (!isNew && section.parentRef)">
          <label for="parentRelationDescription">Description of the relation to the parent section "<i>{{parentSectionName}}</i>"</label>
          <ngx-text-mesh-pro-text-editor id="parentRelationDescription" formControlName="parentRelationDescription"></ngx-text-mesh-pro-text-editor>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5>Resources</h5>
        <p><button nbButton type="button" status="success" (click)="onAddResourceClicked()"><i class="fa fa-plus"></i> Add resource reference</button></p>
        <nb-accordion formArrayName="resourceRelations">
          <nb-accordion-item *ngFor="let resourceRelation of resourceRelationsArray.controls; let i = index" [formGroupName]="i">
            <nb-accordion-item-header>
              {{getResource(resourceRelation.value.resourceRef).name}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>

              <p class="highlight" [innerHTML]="getResource(resourceRelation.value.resourceRef).description | textMeshProToHtml"></p>

              <p *ngIf="getResource(resourceRelation.value.resourceRef).url">
                <a nbButton [href]="getResource(resourceRelation.value.resourceRef).url" target="_blank" [status]="'info'">
                  <i class="fa fa-external-link-alt"></i> <span i18n="@@openResourceURLButton">Open</span>
                </a>
              </p>

              <p><button nbButton type="button" status="danger" (click)="onDeleteResourceRelationClicked(i)">Remove resource reference</button></p>

              <h6>Options</h6>

              <div class="form-group">
                <label for="description">Description explaining why this resource is relevant to this section:</label>
                <ngx-text-mesh-pro-text-editor id="description" formControlName="description"></ngx-text-mesh-pro-text-editor>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="card-footer-button" nbButton [disabled]="sectionForm.invalid || sectionForm.pristine" [status]="'primary'">Save</button>
        <button type="button" class="card-footer-button" nbButton [status]="'danger'" (click)="onDeleteSectionClicked()" *ngIf="!isNew"><i class="fa fa-trash"></i>&nbsp;Delete section</button>
      </div>
    </div>
  </nb-card-body>

</nb-card>
</form>

<ng-template #confirmDeleteResourceRelationDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirm removing the resource reference from this section</nb-card-header>
    <nb-card-body>
      <p>
        Are you sure you want to delete the reference to the resource <b>'{{ getResource(data.resourceRef).name}}'</b> from this section? The resource itself will not be deleted.
      </p>
    </nb-card-body>
    <nb-card-footer>
      <div class="dialog-button"><button nbButton status="danger" (click)="onConfirmDeleteResourceRelation(data.resourceIndex, ref)">Yes</button></div>
      <div class="dialog-button"><button nbButton (click)="ref.close()" status="info" outline>No</button></div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #selectResourceDialog let-data let-ref="dialogRef">
  <nb-card class="full-width-dialog">
    <nb-card-header>Please select a resource to add</nb-card-header>
    <nb-card-body>
      <ngx-resource-selection [resources]="this.unusedResources" [(ngModel)]="selectedNewResource"></ngx-resource-selection>
    </nb-card-body>
    <nb-card-footer>
      <div class="dialog-button"><button nbButton status="success" (click)="onConfirmAddResource(selectedNewResource, ref)">Add resource reference</button></div>
      <div class="dialog-button"><button nbButton status="info" outline (click)="ref.close()">Cancel</button></div>
    </nb-card-footer>
  </nb-card>
</ng-template>
