<tree-root [nodes]="sectionNodes" [options]="options" (nodeActivate)="onSectionClicked($event)" (initialized)="onTreeInitialized()" #tree>
  <ng-template #treeNodeTemplate let-node let-index="index">
    <span>{{ node.data.name }}</span>&nbsp;
<!--    <button nbButton shape="round" size="xsmall" [status]="'success'"><i class="icon nb-plus"></i></button>-->
  </ng-template>
</tree-root>
