<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
    <p>
      {{content}}
    </p>
  </nb-card-body>
  <nb-card-footer>
    <div class="dialog-button"><button nbButton status="danger" (click)="confirmDelete()">{{confirmButtonText}}</button></div>
    <div class="dialog-button"><button nbButton (click)="cancel()" status="info" outline>{{cancelButtonText}}</button></div>
  </nb-card-footer>
</nb-card>
