<nb-card *ngIf="reviewerRelation == null" [nbSpinner]="true">
  <nb-card-header>
    Loading...
  </nb-card-header>
  <nb-card-body>
    <h1>Please wait while the process is loading</h1>
  </nb-card-body>
</nb-card>

<div *ngIf="reviewerRelation != null">
  <nb-card  nbSpinnerSize="large">
    <nb-card-header>
      Progress information
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <nb-user name="{{submitter | showName}}" title="Submitter" 
            [color]="submitterColor" size="large" showInitials="false" 
            >
          </nb-user>
        </div>
        <div class="col-md-6" [ngClass]="{ 'unavailable': !reviewer }">
          <nb-user name="{{reviewer | showName}}" title="Reviewer" 
            [color]="reviewerColor" size="large" showInitials="false"
            >
          </nb-user>
        </div>
      </div>
      <hr>
    </nb-card-body>
  </nb-card>

  <div class="row" *ngFor="let step of chapter.reviewSteps; let i = index;">
    <div class="col-md-10" [ngClass]="{'offset-md-2': step.peerType === 'REVIEWER', 'unavailable': !result(step) }">
      <nb-card 
          [accent]="step.peerType === 'REVIEWER' ? 'primary' : 'success' "
          >
        <nb-card-header>
          <nb-badge *ngIf="late(step, result(step))" text="late" status="danger" position="top right"></nb-badge>
          {{i + 1}}. {{step.name}}
        </nb-card-header>
        <nb-card-body>
          <p [innerHTML]="step.description | newlineToBr"></p>
          <hr *ngIf="step.description">
          <p>Deadline: {{step.deadline | displayDateTime}}<br>
          <p>Handed in: <span *ngIf="handedIn(result(step))">{{handedIn(result(step)) | displayDateTime}}</span><span *ngIf="!handedIn(result(step))">Not handed in yet</span></p>
          <hr>
          <div *ngIf="step.fileUpload">
            <h5>File upload</h5>
            <div *ngIf="result(step)?.fileUploadMetadata">
              <p>
                <b>{{stepUser(step) | showName : stepUserDefaultName(step)}}</b> has uploaded a document on {{result(step).fileUploadMetadata.created | displayDateTime}}: 
                <a [attr.href]="fileUploadUrl(result(step))" target="_blank">{{result(step).fileUploadMetadata.filename}}</a><br>
                <pdf-viewer id="viewer" [src]="{ url: fileUploadResourceUrl(result(step)) }"></pdf-viewer>
              </p>
            </div>
            <div *ngIf="!result(step)?.fileUploadMetadata">
              <p><b>{{stepUser(step) | showName  : stepUserDefaultName(step)}}</b> has not yet uploaded a document.</p>
            </div>
            <hr>
          </div>
          <div *ngIf="step.discussionType !== 'NONE'">
            <h5>Discussion</h5>
            <p *ngIf="(step.discussionType !== 'REPLY') && result(step)?.arguments && result(step)?.arguments?.length > 0">
                <b>{{stepUser(step) | showName  : stepUserDefaultName(step)}}</b> gave <b>{{result(step).arguments.length}}</b> arguments, with a total length of <b>{{argumentWordCount(result(step))}} words</b>
            </p>
            <p *ngIf="(step.discussionType === 'REPLY') && result(step)?.arguments && result(step)?.arguments?.length > 0">
                <b>{{stepUser(step) | showName  : stepUserDefaultName(step)}}</b> responded to <b>{{opponentUser(step) | showName : opponentUserDefaultName(step)}}</b>
                  with <b>{{result(step).arguments.length}}</b> arguments, with a total length of <b>{{argumentWordCount(result(step))}} words</b>
            </p>
            <div *ngIf="result(step)?.arguments && result(step)?.arguments?.length > 0">
              <p>Arguments:</p>
              <ol >
                <li *ngFor="let argument of result(step).arguments">
                  <h6 *ngIf="!argument.replyToArgumentRef">{{argumentName(step, argument)}}</h6>
                  <h6 *ngIf="argument.replyToArgumentRef" 
                      [nbPopover]="previousMessagePopover" 
                      [nbPopoverContext]="{ 'text': getArgumentMessage(argument.replyToArgumentRef)}" 
                      nbPopoverPlacement="top" 
                      nbPopoverAdjustment="noop" 
                      nbPopoverMode="hint" >
                    Reply to argument {{argumentIndexInStep(argument.replyToArgumentRef) + 1}}
                  </h6>
                  <p>{{argument.message}}</p>
                </li>
              </ol>
            </div>
            <p *ngIf="!(result(step)?.arguments && result(step)?.arguments?.length > 0)">No arguments have been posted yet</p>

            
          </div>
          <div *ngIf="step.quiz">
            <h5>Rubrics</h5>
            <div *ngIf="result(step)?.quizResult">
              <p><b>{{stepUser(step) | showName  : stepUserDefaultName(step)}}</b> gave <b>{{opponentUser(step) | showName : opponentUserDefaultName(step)}}</b>&nbsp;
                <b>{{result(step).quizResult.totalScore}}</b> points</p>
              <ol *ngFor="let elem of step.quiz.elements; let i = index">
                <li><h6>{{elem.text}}</h6>
                <p>
                  <span *ngFor="let selectOption of selectedQuizOptions(result(step), elem)">
                      (<b>{{selectOption.points}} Points</b>) {{selectOption.text}}<br>
                  </span>
                </p>
                </li>
              </ol>
            </div>
            <div *ngIf="!result(step)?.quizResult">
                <b>{{stepUser(step) | showName  : stepUserDefaultName(step)}}</b> has not yet filled in the rubrics.
            </div>
            <hr>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<ng-template #previousMessagePopover let-text="text">
  <nb-card class="popover-card">
    <nb-card-body>
      <span style="max-width: 200px">{{ text }}</span>
    </nb-card-body>
  </nb-card>
</ng-template>