<div class="row">
  <div class="col-sm-12">
    <a nbButton class="back-button" routerLink="/pages/courses/new" i18n="@@newCourseTemplateBackButton">Back</a>
  </div>
</div>

<nb-card class="w-100" *ngIf="!template" [nbSpinner]="true" nbSpinnerSize="xxlarge"></nb-card>

<div *ngIf="template">
  <form [formGroup]="courseCreateForm" (ngSubmit)="createCourse()">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <nb-card>
          <nb-card-header>{{template.name}}</nb-card-header>
          <nb-card-body>
            <p><span class="small float-right" i18n="@@newCourseFromTemplateVersionLabel">version {{template.version + 1}}</span></p>

            <p class="highlight" [innerHTML]="template.description | textMeshProToHtml"></p>

            <h5 i18n="@@newCourseFromTemplateChaptersHeader">Chapters</h5>
            <ol>
              <li *ngFor="let chapter of template.chapters">
                {{chapter.name}}
              </li>
            </ol>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-sm-12 col-lg-6">
          <nb-card>
            <nb-card-header>
              <span i18n="@@newCourseFromTemplateNewCourseHeader">New course</span>
            </nb-card-header>
            <nb-card-body
              [nbSpinner]="saving" nbSpinnerSize="xxlarge"
            >

              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-md-3" for="courseName" i18n="@@newCourseFromTemplateCourseNameLabel">Name</label>
                <div class="col-sm-12 col-md-9">
                  <input nbInput formControlName="courseName" id="courseName" fullWidth [status]="controlStatus('courseName', courseCreateForm)">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-md-3" for="year" i18n="@@newCourseFromTemplateYearLabel">Year</label>
                <div class="col-sm-12 col-md-9">
                  <input nbInput class="small-input" formControlName="year" id="year" type="number" size="small" [status]="controlStatus('year', courseCreateForm)">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-md-3" for="quarter" i18n="@@newCourseFromTemplateQuarterLabel">Quarter</label>
                <div class="col-sm-12 col-md-9">
                  <div class="small-input  d-flex flex-row align-items-baseline">
                    <span class="flex-shrink-0" i18n="@@newCourseFromTemplateQuarterLetter">Q</span>&nbsp;
                    <input class="flex-grow-1 w-100" nbInput formControlName="quarter" id="quarter" type="number" [status]="controlStatus('quarter', courseCreateForm)">
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-md-3" for="courseCode" i18n="@@newCourseFromTemplateCourseCodeLabel">Code</label>
                <div class="col-sm-12 col-md-9">
                  <input nbInput formControlName="courseCode" id="courseCode" [status]="controlStatus('courseCode', courseCreateForm)" placeholder="SEN2321Q12018">
                </div>
              </div>
            </nb-card-body>
          </nb-card>
      </div>
    </div>

    <nb-card>
      <nb-card-header i18n="@@deadlinesHeader">Deadlines</nb-card-header>
      <nb-card-body [nbSpinner]="saving" [nbSpinnerSize]="'xxlarge'">

        <div class="form-group d-flex flex-row align-items-baseline">
          <label for="time-select">Start date</label>
          <ngx-date-time-picker [(ngModel)]="startDate" [ngModelOptions]="{ standalone: true }"></ngx-date-time-picker>
          <button nbButton type="button" [status]="'success'" (click)="setStartDate()"> Set start date</button>
        </div>

        <div class="form-group d-flex flex-row align-items-baseline">
          <label for="time-select" i18n="@@selectDeadlineTimeLabel">Time of the deadlines</label>
          <ngb-timepicker [(ngModel)]="deadlineTime" [ngModelOptions]="{standalone: true}" id="time-select" [spinners]="false"></ngb-timepicker>
          <button nbButton type="button" [status]="'success'" (click)="setAllDeadlineTimes()" i18n="@@setAllDeadlineTimes">Set for all deadlines</button>
        </div>

        <div class="form-group" formGroupName="deadlinesOverride">
          <table class="table">
            <thead>
            <tr>
              <th scope="col" i18n="@@deadlinesScheduleStepHeader">Step</th>
              <th *ngFor="let chapter of template.chapters; let i = index" scope="col">{{i + 1}}. {{chapter.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stepName of reviewStepNames; let j = index;">
              <th scope="row" class="align-middle">{{stepName}}</th>
              <td *ngFor="let chapter of template.chapters; let i = index">
                <ngx-date-time-picker [formControlName]="reviewStepIds[i][j]"></ngx-date-time-picker>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </nb-card-body>
    </nb-card>

    <div class="row">
      <div class="col-sm-12">
        <button nbButton type="submit" [disabled]="courseCreateForm.invalid" [nbSpinner]="saving">Create course</button>
      </div>
    </div>
  </form>
</div>
