<div class="row">
  <div class="col-md-4 col-sm-12">
    <nb-card [nbSpinner]="course == null || updatingSectionStructure" nbSpinnerSize="xxlarge">
      <nb-card-header>
          Sections
      </nb-card-header>
      <nb-card-body
        [ngClass]="{'border border-warning': !canDeactivate()}"
      >
        <p><button nbButton type="button" status="success" (click)="onCreateSectionClicked()"><i class="fa fa-plus"></i> Create section</button></p>

        <div *ngIf="sectionsDirty" class="text-right" >
          <button nbButton size="xsmall" status="success" shape="round" (click)="onSaveStructureChangesClicked()">Save structure changes</button>
        </div>
        <div>
            <ngx-section-list #sectionList
                [sections]="_allSections"
                [selectedSectionRef]="sectionRef"
                [editable]="editable"
                (sectionClicked)="onSectionClicked($event)"
                (sectionMoved)="onSectionMoved()"
            >
              </ngx-section-list>
        </div>
      </nb-card-body>
    </nb-card> 
  </div>
  <div class="col-md-8 col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
