@import '../../@theme/styles/styles';

.conversations {
  height: 100% !important;
  margin: 0;
}

.conversations-scrollbox {
  @include scrollbox(calc(#{content-card-height()} - 4.5rem));
}

.conversation-box {
    display: flex;
    flex-direction: column;
}

.conversation-box-line {
    display: flex;
    flex-direction: row;
}

.conversation-box-line-left {
    flex-grow: 1;
}

.conversation-box-line-right {
    flex-basis: auto;
    margin-left: 1rem;
}

.selected {
    background-color: #e9ebeb;
}

.new-messages-dot {
    height: 25px;
    background-color: #5be190;
    border-radius: 13px;
    display: inline-block;
    color: white;
    text-align: center;
    font: bold 15px/13px Roboto;
    padding: 6px 8px 0 8px;
}

.current-conversation-card {
  height: #{content-card-height()}
}
