<div class="row">
  <div class="col-md-4 chat-card">
    <nb-card size="xlarge" class="conversations">
      <nb-card-header>
        Conversations
      </nb-card-header>
      <div class="conversations-scrollbox">
        <nb-list>
          <nb-list-item
              *ngFor="let conversation of conversationList"
              (click)="onClickConversation(conversation)"
              style="cursor: pointer;"
              [ngClass]="{'selected': selectedConversationRef === conversation.ref }"
              >
            <div class="conversation-box">
              <div class="conversation-box-line">
                <div class="conversation-box-line-left">
                    <span class="font-w-bold">{{ conversation.title }}</span>
                </div>
                <div class="conversation-box-line-right">
                  <span class="font-w-light small">{{ conversation.lastMessageSent | shortDisplayTimestamp }}</span>
                </div>
              </div>
              <div class="conversation-box-line">
                  <div class="conversation-box-line-left">
                      <span class="font-w-light ">{{ conversation.subtitle }}</span>
                  </div>
                  <div class="conversation-box-line-right new-messages-dot" *ngIf="conversation.unreadMessageCount">
                      <span>{{ conversation.unreadMessageCount }}</span>
                  </div>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
    </nb-card>
  </div>
  <div class="col-md-8 current-conversation-card">
    <router-outlet></router-outlet>
  </div>
</div>
