.question-panel {
  background: #fafcff;
  //border: 3px solid #ddd;
  margin: 20px 10px;
  box-shadow: 0 2px 12px 0 #b6bac1;
}

.question-header {
  h5 {
    padding: 0.4rem 0;
  }

  button {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}


.answers-table {
  width: 100%;

  .min-size-col {
    width: 1px;
    white-space: nowrap;
  }

  .max-size-col {
    width: 100%;
  }

  .answer-icon {
    color: #bbbbbb;
  }
}

.points-input {
  width: 5rem;
}

.option-buttons {
  white-space: nowrap;
  .option-button {
    padding: 0.4rem !important;
    margin-left: 0.2rem;
  }
}
