<form [formGroup]="quizForm">
  <div class="row">
    <div class="col-sm-12">

      <div class="form-group">
        <label for="quiz-name">Header</label>
        <input nbInput type="text" fullWidth formControlName="name" id="quiz-name" [status]="controlStatus('name', quizForm)">
      </div>

      <div class="form-group">
        <label for="quiz-description">Description</label>
        <ngx-text-mesh-pro-text-editor formControlName="description" id="quiz-description" [status]="controlStatus('description', quizForm)"></ngx-text-mesh-pro-text-editor>
      </div>

    </div>
  </div>

  <div class="row" formArrayName="elements">
    <div class="col-sm-12">
      <nb-card class="question-panel" *ngFor="let element of quizFormElementControls; let i = index">
        <nb-card-body>
          <div [formGroupName]="i">
            <div class="question-header">
              <h5>Question {{i + 1}}</h5>
              <button nbButton type="button" [status]="'danger'" (click)="onRemoveQuestionClicked(i)"><i class="fa fa-trash"></i>&nbsp;Remove question</button>
            </div>

            <div class="form-group">
              <ngx-text-mesh-pro-text-editor formControlName="text" id="quiz-element-text" placeholder="Ask your question..." [status]="controlStatus('text', element)"></ngx-text-mesh-pro-text-editor>
            </div>

            <div class="form-group">
              <div class="btn-group btn-group-toggle" data-toggle="buttons" ngbRadioGroup formControlName="questionType" status="primary">
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" value="SELECT_ONE">Single answer
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" value="SELECT_MULTIPLE">Multiple answers
                </label>
              </div>
            </div>

            <table class="answers-table" formArrayName="options" [ngClass]="{'d-none': getQuizElementQuestionType(element) === 'NONE'}">
              <tr>
                <th class="min-size-col"></th>
                <th class="max-size-col">Answer</th>
                <th class="min-size-col">Points</th>
                <th class="min-size-col">Move</th>
                <th class="min-size-col"></th>
              </tr>
              <tr *ngFor="let option of getQuizElementFormOptions(element); let j = index; let last = last" [formGroupName]="j">
                <td>
                  <i class="fas answer-icon" [ngClass]="{'fa-check-circle': getQuizElementQuestionType(element) === 'SELECT_ONE', 'fa-check-square': getQuizElementQuestionType(element) === 'SELECT_MULTIPLE'}"></i>
                </td>
                <td>
                  <label for="quiz-element-option-text"><span class="screenreader">Text for question {{i + 1}}, answer {{j + 1}}</span></label>
                  <input nbInput type="text" fullWidth formControlName="text" id="quiz-element-option-text" [status]="controlStatus('text', option)">
                </td>
                <td>
                  <label for="quiz-element-option-points"><label for="quiz-element-option-text"><span class="screenreader">Points for question {{i + 1}}, answer {{j + 1}}</span></label></label>
                  <input nbInput class="points-input" type="number" formControlName="points" id="quiz-element-option-points" shape="round" [status]="controlStatus('points', option)">
                </td>
                <td class="option-buttons">
                  <button nbButton type="button" class="option-button" size="small" [status]="'info'" [disabled]="j === 0" (click)="onMoveOptionUpClicked(element, j)"><i class="fas fa-arrow-up"></i></button>
                  <button nbButton type="button" class="option-button" size="small" [status]="'info'" [disabled]="last" (click)="onMoveOptionDownClicked(element, j)"><i class="fas fa-arrow-down"></i></button>
                </td>
                <td class="option-buttons">
                  <button nbButton type="button" class="option-button" size="small" [status]="'danger'" (click)="onDeleteOptionClicked(element, j)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button nbButton type="button" size="small" [status]="'success'" (click)="onAddOptionClicked(element)"><i class="fas fa-plus"></i>&nbsp;Add answer</button>
                </td>
              </tr>
            </table>
          </div>
        </nb-card-body>
      </nb-card>

      <button nbButton type="button" [status]="'success'" (click)="onAddQuestionClicked()"><i class="fas fa-plus"></i>&nbsp;Add question</button>
    </div>
  </div>


</form>
