ul.select-one {
    list-style-type: circle;
}
ul.select-many {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
    }

    li:before {
        content: "☐"; /* Insert content that looks like bullets */
        padding-right: 8px;
    }
}