<h5>{{quiz.name}}</h5>
<p [innerHTML]="sanitizeHtml(quiz.description)" class="pre-wrap"></p>

<ol>
  <li *ngFor="let quizElement of quiz.elements; let i = index">
    <p [innerHTML]="sanitizeHtml(quizElement.text)" class="pre-wrap"></p>
    <ul [ngClass]="{'select-one': quizElement.questionType == 'SELECT_ONE', 'select-multiple': quizElement.questionType == 'SELECT_MULTIPLE'}">
      <li *ngFor="let quizElementOption of quizElement.options">
        <i>({{quizElementOption.points}} points)</i>&nbsp;<span [innerHTML]="sanitizeHtml(quizElementOption.text)" class="pre-wrap"></span>
      </li>
    </ul>
    <p></p>
  </li>
</ol>
