@import '../../../../@theme/styles/themes';

.clickable-list-item {
  cursor: pointer;
}

.selected {
  background-color: #e9ebeb;
  font-weight: bold;
}

.resource-list-scrollbox-large {
  @include scrollbox(calc(#{content-card-height()} - 13.5rem));
}

.resource-list-scrollbox-medium {
  @include scrollbox(calc(#{content-card-height()} - 11rem));
}

.resource-list-scrollbox-small {
  @include scrollbox(50rem);
}
