<input type="text" class="mb-2" nbInput fullWidth [(ngModel)]="filter" placeholder="Filter...">
<div [ngClass]="{'resource-list-scrollbox-large': large, 'resource-list-scrollbox-medium': medium, 'resource-list-scrollbox-small': small}">
  <nb-list>
    <nb-list-item
      class="clickable-list-item"
      *ngFor="let resource of filteredResources"
      [ngClass]="{ selected: selectedResourceRef === resource.ref }"
      (click)="onSelectResource(resource)"
    >
      <span #resourceListItem>{{resource.name}}</span>
    </nb-list-item>
  </nb-list>
</div>
