@import '~@nebular/theme/components/input/input-colors';
@import '../../styles/themes';

.clickable-list-item {
  cursor: pointer;
}

.selected {
  background-color: #e9ebeb;
  font-weight: bold;
}

.item-list-scrollbox-large {
  @include scrollbox(calc(#{content-card-height()} - 13.5rem));
}

.item-list-scrollbox-medium {
  @include scrollbox(calc(#{content-card-height()} - 11rem));
}

.item-list-scrollbox-small {
  @include scrollbox(50rem);
}
