<label for="filter"><span class="screenreader" i18n="@@selectableItemListDefaultFilterLabel">Filter</span></label>
<input type="text" id="filter" class="mb-2" nbInput fullWidth [(ngModel)]="filter" placeholder="Filter..." i18n-placeholder="@@selectableItemListDefaultFilterPlaceholder">
<div [ngClass]="{'item-list-scrollbox-large': large, 'item-list-scrollbox-medium': medium, 'item-list-scrollbox-small': small}">
  <nb-list cdkDropList (cdkDropListDropped)="drop($event)">
    <nb-list-item
      cdkDrag
      [cdkDragDisabled]="!dragEnabled"
      class="clickable-list-item"
      *ngFor="let item of filteredItems"
      [ngClass]="{ selected: selectedItemRef === item.ref }"
      (click)="onItemClicked(item)"
    >
      <span #listItem>{{item.label}}</span>
    </nb-list-item>
  </nb-list>
</div>
