<div class="container-fluid">
  <div class="row">
    <nb-card class="col-sm-12 col-md-3">
      <nb-card-body>
        <ngx-resource-list [resources]="resources" size="medium" (resourceSelected)="onSelectResource($event)"></ngx-resource-list>
      </nb-card-body>
    </nb-card>
    <div class="col-sm-12 col-md-9" *ngIf="!selectedResourceRef">
      <nb-card>
        <nb-card-body>
          Please select a resource...
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-12 col-md-9" *ngIf="selectedResourceRef">
      <ngx-resource-editor [resourceRef]="selectedResourceRef" size="medium"></ngx-resource-editor>
    </div>
  </div>
</div>
