<form [formGroup]="skillForm">
  <nb-card class="edit-skill-card">
    <nb-card-header>
      <ngx-click-to-edit [editing]="isNew" formControlName="name"></ngx-click-to-edit>
    </nb-card-header>
    <nb-card-body [nbSpinner]="saving" nbSpinnerSize="xxlarge">
      <ngx-text-mesh-pro-text-editor formControlName="description">
      </ngx-text-mesh-pro-text-editor>
    </nb-card-body>
    <nb-card-footer>
      <div class="dialog-button">
        <button nbButton type="submit" [disabled]="this.skillForm.invalid || this.saving" [status]="'primary'" (click)="onSaveClicked()">Save</button>
      </div>
      <div class="dialog-button">
        <button *ngIf="dialogRef" nbButton type="button" [status]="'info'" outline (click)="onCancelClicked()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
