// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...
@import '../directives/status-indicator.directive.theme';

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

.gl-filter > input {
  background-image: url(/assets/icons/filter-solid.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 18x 18px;
}

.pre-wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.screenreader {
  border:0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap:normal !important;
}

.nb-autocomplete-input {
  background-color: #{nb-theme(form-control-bg)};
  border: #{nb-theme(form-control-border-width)} #{nb-theme(form-control-border-type)} #{nb-theme(form-control-border-color)};
  color: #{nb-theme(form-control-text-primary-color)};

  &:focus {
    outline: none;
    background-color: #{nb-theme(form-control-focus-bg)};
    border-color: #{nb-theme(form-control-selected-border-color)};
  }

  &[disabled] {
    @include install-placeholder(
        rgba(nb-theme(form-control-placeholder-color), 0.5),
        nb-theme(form-control-placeholder-font-size)
    );
  }

  &.input-full-width {
    width: 100%;
  }

  @include input-colors();
  @include input-sizes();
  @include input-shapes();

  @include install-placeholder(
      nb-theme(form-control-placeholder-color),
      nb-theme(form-control-placeholder-font-size)
  );
}

ng2-completer {
  position: relative;
}
.completer-dropdown {
  bottom: calc(1.5rem + 20px);
  max-height: 50vh;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dialog-button {
  margin: 0 1rem 0 0;
  display: inline-block;
  float: right;
}

.card-footer-button {
  margin: 0.25rem 1rem 0.25rem 0;
  display: inline-block;
}

.full-width-dialog {
  margin: 1.25rem;
  min-width: calc(100vw - 2.5rem);
  max-width: calc(100vw - 2.5rem);
  min-height: calc(100vh - 2.5rem);
  max-height: calc(100vh - 2.5rem);
}

.strikethrough {
  text-decoration: line-through;
}
