// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default);//, gl-default);

@function content-card-height() {
  @return calc(100vh
    - #{nb-theme(header-height)}
    - #{nth(nb-theme(layout-padding), 1)}
    - #{nth(nb-theme(layout-padding), 1)});
}

@mixin scrollbox($height) {
  width: 100%;
  height: $height;
  overflow-y: auto;
  overflow-x: hidden;
};

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #ebeff5,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),

  // Custom modifications as part of the Great Library portal
  menu-icon-font-size: 1.5rem,
  menu-icon-margin: 0 1rem 0 0,

  tabs-active-bg: #ffffff,
  tabs-header-bg: #ffffff,
  tabs-bg: #ebeff5,

  scrollbar-width: 10px

), default, default);
