<div class="header-container left">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo clickable" (click)="goToHome()">Great Library</div>
    <div class="logo"><i [class]="currentPage?.icon"></i><span style="padding: 0 0 0 0.5rem">{{currentPage?.title}}</span></div>
    <nb-actions size="medium">
        <nb-action *ngIf="currentPage?.list && currentPage?.list.visible" 
            icon="fas fa-list" 
            (click)="currentPage?.list.clickHandler()" 
            [nbTooltip]="currentPage.list.tooltip || 'List'"  nbTooltipPlacement="bottom">
        </nb-action>
        <nb-action *ngIf="currentPage?.new && currentPage?.new.visible" 
            icon="fa fa-plus" 
            (click)="currentPage?.new.clickHandler()" 
            [nbTooltip]="currentPage.new.tooltip || 'Add'" nbTooltipPlacement="bottom">
        </nb-action>
        <nb-action *ngIf="currentPage?.view && currentPage?.view.visible" 
            icon="fas fa-eye" 
            (click)="currentPage?.view.clickHandler()"
            [nbTooltip]="currentPage.view.tooltip || 'View'" nbTooltipPlacement="bottom">
        </nb-action>
        <nb-action *ngIf="currentPage?.edit && currentPage?.edit.visible" 
            icon="fas fa-edit" 
            (click)="currentPage?.edit.clickHandler()" 
            [nbTooltip]="currentPage.edit.tooltip || 'Edit'" nbTooltipPlacement="bottom">
        </nb-action>
        <nb-action *ngIf="currentPage?.remove && currentPage?.remove.visible"
            icon="fa fa-trash" 
            (click)="currentPage?.remove.clickHandler()"
            [nbTooltip]="currentPage.remove.tooltip || 'Remove'" nbTooltipPlacement="bottom">
          </nb-action>
    </nb-actions>
  </div>
</div>

<div class="header-container right">
  <ngx-switcher 
    [firstValue]="nameTypeAvatarName" [firstValueLabel]="getNameTypeLabel(nameTypeAvatarName)"
    [secondValue]="nameTypeRealName" [secondValueLabel]="getNameTypeLabel(nameTypeRealName)"
    [value]="nameType"
    (valueChange)="setNameType($event)"
      *ngIf="userMayToggleNameType && (currentPage.title == 'Progress' || currentPage.title == 'Conversations')">
  </ngx-switcher>
  <nb-actions size="medium" class="right">
    <nb-action icon="far fa-question-circle" title="Manual" (click)="openManual()">
      Manual
    </nb-action>
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="user-menu" [name]="user?.fullName" picture="assets/images/Profile.png"></nb-user>
    </nb-action>
    <!--
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
    -->
  </nb-actions>
</div>
