<div class="row" [nbSpinner]="templates == null">
  <div class="col-md-12 col-sm-12">
    <nb-card class="templates-list">
      <nb-card-header i18n="@@templates">
        Select template
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item *ngFor="let template of templates; let i = index">
            <nb-accordion-item-header>
              {{template.name}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p><span class="small float-right" i18n="@@newCourseVersionLabel">version {{template.version + 1}}</span></p>

              <p class="highlight" [innerHTML]="template.description | textMeshProToHtml"></p>

              <h5>Chapters</h5>
              <ol>
                <li *ngFor="let chapter of template.chapters">
                  {{chapter.name}}
                </li>
              </ol>
              <a nbButton class="button" [status]="'info'" [routerLink]="['/pages/courses/new', template.id]" i18n="@@newCourseUseThisTemplateButton">Use this template</a>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </div>
</div>
