<nb-card class="popover-card">
<!--  <nb-card-header i18n="@@progressLegendHeader">-->
<!--    Progress overview guide-->
<!--  </nb-card-header>-->
  <nb-card-body>
    <div class="colors">
      <div class="item text-warning">
        <div class="color bg-warning"></div>
        <div>
          <h5 class="text-warning" i18n="@@progressLegendLateHandInLabel">Handed in late</h5>
          <span i18n="@@progressLegendLateHandInDescription">Indicates that the step was completed after the deadline.</span>
        </div>
      </div>
      <div class="item text-danger">
        <div class="color bg-danger"></div>
        <div>
          <h5 class="text-danger" i18n="@@progressLegendLateStillNotHandedInLabel">Still not handed in</h5>
          <span i18n="@@progressLegendLateStillNotHandedInDescription">Indicates that this step is not yet completed, but the deadline has passed.</span>
        </div>
      </div>
      <div class="item text-primary">
        <div class="color bg-primary"></div>
        <div>
          <h5 class="text-primary" i18n="@@progressLegendForgotHandInLabel">Forgot hand-in</h5>
          <span i18n="@@progressLegendForgotHandInDescription">Indicates that the user has completed the actions needed for this review step, but hasn't clicked the hand in button yet.</span>
        </div>
      </div>
    </div>
    </nb-card-body>
</nb-card>
