<nb-card [formGroup]="this.deadlinesForm"
         [ngClass]="{'border border-warning': !canDeactivate()}"
>
  <nb-card-header i18n="@@deadlinesHeader">Deadlines</nb-card-header>
  <nb-card-body [nbSpinner]="saving" [nbSpinnerSize]="'xxlarge'">

    <div class="form-group d-flex flex-row align-items-baseline">
      <label for="time-select" i18n="@@selectDeadlineTimeLabel">Time of the deadlines</label>
      <ngb-timepicker [(ngModel)]="deadlineTime" [ngModelOptions]="{standalone: true}" id="time-select" [spinners]="false"></ngb-timepicker>
      <button nbButton type="button"
              [status]="'success'"
              (click)="setAllDeadlineTimes()"
              i18n="@@setAllDeadlineTimes">
        Set for all deadlines
      </button>
    </div>

    <div class="form-group" formArrayName="chapters">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" i18n="@@deadlinesScheduleStepHeader">Step</th>
          <th *ngFor="let chapter of course.chapters; let i = index" scope="col">{{i + 1}}. {{chapter.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stepName of reviewStepNames; let j = index;">
          <th scope="row" class="align-middle">{{stepName}}</th>
          <td *ngFor="let chapter of course.chapters; let i = index" [formGroupName]="i">
            <div formArrayName="reviewSteps">
              <div [formGroupName]="j">
                <ngx-date-time-picker formControlName="deadline"></ngx-date-time-picker>
                <span [hidden]="!reviewSteps[i][j].disabled" class="text-danger small" i18n="@@deadlinesStepDisabledAlert">This step is disabled</span>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <button type="submit"
            [disabled]="saving || deadlinesForm.pristine || deadlinesForm.invalid"
            nbButton status="primary"
            (click)="onSaveClicked()"
            [nbSpinner]="saving"
            i18n="@@saveDeadlinesButton">
      Save
    </button>
  </nb-card-footer>
</nb-card>
