<div class="row">
  <div class="col-sm-12 col-lg-6">
    <nb-card class="w-100" *ngIf="!course" [nbSpinner]="true" nbSpinnerSize="xxlarge"></nb-card>
    <form class="w-100" [formGroup]="courseUpdateForm" (ngSubmit)="saveChanges()">
      <nb-card
        *ngIf="course"
        [ngClass]="{'border border-warning': !canDeactivate()}"
      >
        <nb-card-header>
          <span i18n="@@courseEditorEditCourseHeader">Edit course</span>
        </nb-card-header>
        <nb-card-body
          [nbSpinner]="saving" nbSpinnerSize="xxlarge"
        >

          <div class="form-group row">
            <label class="col-sm-12 col-form-label col-md-3" for="name" i18n="@@courseEditorCourseNameLabel">Name</label>
            <div class="col-sm-12 col-md-9">
              <input nbInput formControlName="name" id="name" fullWidth [status]="controlStatus('name', courseUpdateForm)">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-12 col-form-label col-md-3" for="year" i18n="@@courseEditorCourseYearLabel">Year</label>
            <div class="col-sm-12 col-md-9">
              <input nbInput class="small-input" formControlName="year" id="year" type="number" size="small" [status]="controlStatus('year', courseUpdateForm)">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-form-label col-md-3" for="quarter" i18n="@@courseEditorCourseQuarterLabel">Quarter</label>
            <div class="col-sm-12 col-md-9">
              <div class="small-input  d-flex flex-row align-items-baseline">
                <span class="flex-shrink-0" i18n="@@courseEditorQuarterLetter">Q</span>&nbsp;
                <input class="flex-grow-1 w-100" nbInput formControlName="quarter" id="quarter" type="number" [status]="controlStatus('quarter', courseUpdateForm)">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-12 col-form-label col-md-3" for="code" i18n="@@courseEditorCourseCodeLabel">Code</label>
            <div class="col-sm-12 col-md-9">
              <input nbInput formControlName="code" id="code" [status]="controlStatus('code', courseUpdateForm)">
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton i18n="@@courseEditorSaveCourseButton">Save</button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
  <div class="col-sm-12 col-lg-6">
    <nb-card
      class="w-100"
      *ngIf="course"
      >
      <nb-card-header i18n="@@courseEditorChaptersCardHeader">Chapters</nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item *ngFor="let chapter of course.chapters; let i = index">
            <nb-accordion-item-header>
              {{chapter.name}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p class="highlight" [innerHTML]="chapter.description | textMeshProToHtml"></p>
              <h5 i18n="@@courseEditorChaptersReviewStepsHeader">Review steps</h5>
              <ol>
                <li *ngFor="let reviewStep of chapter.reviewSteps">
                  <b>{{reviewStep.name}}</b><br>
                  <span i18n="@@courseEditorReviewStepDeadline">Deadline: {{reviewStep.deadline | displayDateTime}}</span>
                </li>
              </ol>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
      <nb-card-footer>
        <div class="card-footer-button"><a nbButton [status]="'info'" routerLink="../deadlines" i18n="@@courseEditorEditDeadlinesButton">Edit deadlines</a></div>
        <div class="card-footer-button"><a nbButton [status]="'info'" routerLink="../review-steps" i18n="@@courseEditorEditReviewStepsButton">Edit review steps</a></div>
        <div class="card-footer-button"><a nbButton [status]="'info'" routerLink="../chapters" i18n="@@courseEditorEditChaptersButton">Edit chapters</a></div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
