<div class="container-fluid">
  <div class="row">
    <nb-card class="col-sm-12 col-md-3">
      <nb-card-body>
        <ngx-section-list
          [sections]="sections"
          [editable]="false"
          [selectedSectionRef]="selectedSectionRef"
          (sectionClicked)="onSectionClicked($event)"
          size="medium"
        >
        </ngx-section-list>
      </nb-card-body>
    </nb-card>
    <div class="col-sm-12 col-md-9" *ngIf="!selectedSectionRef">
      <nb-card>
        <nb-card-body i18n="@@sectionSelectionNoSectionSelected">
          Please select a section...
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-12 col-md-9" *ngIf="selectedSectionRef">
      <ngx-section-viewer [section]="selectedSection"></ngx-section-viewer>
    </div>
  </div>
</div>
