<div class="d-flex flex-row align-items-baseline">
  <ng2-completer
    class="flex-grow-1"
    inputClass="nb-autocomplete-input input-rectangle input-md w-100"
    [dataService]="completerData"
    [openOnClick]="true"
    [clearUnselected]="true"
    [autoMatch]="true"
    [fillHighlighted]="false"
    [minSearchLength]="0"
    [ngModel]="selectedSkill?.name"
    (selected)="onSelectedSkillChanged($event.originalObject)"
  ></ng2-completer>
  <button nbButton type="button" (click)="onEditSkillClicked()" [status]="'info'" i18n="@@editSkill">Edit skill</button>
  <button nbButton type="button" (click)="onAddSkillClicked()" [status]="'success'" i18n="@@addSkill">Add skill</button>
</div>
