<nb-card [nbSpinner]="loadingCourse" nbSpinnerSize="xxlarge">
 
    <nb-card-body>
      <div class="header">
        <h4>Join a course</h4>
        <p></p>
      </div>
      <div>
        <p>
          <input type="text" nbInput placeholder="Course code" [(ngModel)]="courseCode">
          <button nbButton shape="round" size="small" (click)="onJoinCourse()" [disabled]="!courseCode"
            [nbSpinner]="joiningCourse" nbSpinnerStatus="primary" nbSpinnerSize="small">Join course</button>
          <button nbButton shape="round" size="small" (click)="onAddCourse()"
            [nbSpinner]="joiningCourse" nbSpinnerStatus="primary" nbSpinnerSize="small">Create course</button>
        </p>
      </div>
      <hr>
      <div class="header">
        <h4>Select a course</h4>
      </div>
      <div>
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onSelectCourse($event)">
        </ng2-smart-table>
      </div>
    </nb-card-body>
  </nb-card>
