<nb-card [nbSpinner]="course == null" nbSpinnerSize="xxlarge">
  <nb-card-header>
    {{course.name}}
  </nb-card-header>

  <nb-card-body>
    <h3>Course code</h3>
    <p>{{course.code}}</p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Deadlines</nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Step</th>
          <th *ngFor="let chapter of course.chapters; let i = index" scope="col">{{i + 1}}. {{chapter.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let step of course.chapters[0].reviewSteps; let i = index">
          <th scope="row">{{step.name}}</th>
          <td *ngFor="let chapter of course.chapters; let j = index">
            {{chapter.reviewSteps[i].deadline | displayDateTime}}
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>