.chat-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  transition: all 250ms ease-out;
  border-radius: 50%;

  i {
    cursor: pointer;
  }
}

.admin-chat-container {
  position: fixed;
  bottom: 7rem;
  right: 10px;
  width: 50vmax;
  height: 70%;
}
