<button *ngIf="selectedCourse && adminConversationRef" nbButton hero
  shape="round" status="success" size="large"  class="chat-button" (click)="toggleChat()">
  <i class="fa fa-2x fa-comments" aria-hidden="true"></i>
</button>

<div class="admin-chat-container" *ngIf="chatOpened">
  <gl-conversation
    [conversationRef]="adminConversationRef"
    [showCloseButton]="true" (closeButtonClicked)="toggleChat()"
    size="medium"></gl-conversation>
</div>
