<span *ngIf="!editing" ngxStatusIndicator [status]="editing ? null : status">
  <a (click)="edit()">{{val}}&nbsp;<i class="fas fa-pen"></i></a>
</span>
<div class="d-flex align-items-baseline">
  <input nbInput
         id="input"
         class="flex-grow-1 mr-2"
         [attr.type]="editing ? 'text' : 'hidden'"
         [(ngModel)]="value"
         (keyup.enter)="edit()"
         [placeholder]="placeholder"
         [status]="status"
  >
  <button *ngIf="editing" nbButton [status]="'success'" (click)="edit()">
    <i class="icon nb-checkmark"></i>
  </button>
</div>
