<!-- Based on https://codepen.io/drehimself/pen/KdXwxR -->
<nb-card size="xlarge" class="chat-card">
  <nb-card-header>
    {{ title }}
    <div [hidden]="!showCloseButton" class="close-btn" (click)="onCloseButtonClicked()">
      <i class="fas fa-times"></i>
    </div>
  </nb-card-header>
  <nb-card-body style="padding-top: 0;">
    <div class="chat">
      <div class="chat-history" #chatHistory>
        <ul>
          <li class="clearfix info" *ngIf="showLoadMore">
            <button nbButton shape="semi-round" outline (click)="onLoadMoreClicked()">Load more</button>
          </li>
          <li class="clearfix" *ngFor="let message of messages; let i = index;">
            <div class="message-data" [ngClass]="{ 'align-right': !message.isReply }" *ngIf="showHeader(i)">
              <span class="message-data-time" >{{ message.date | displayDateTime }}</span>&nbsp;&nbsp;
              <span class="message-data-name" >{{ message.senderName }}</span>
            </div>
            <div class="message" [ngClass]="{ 'other-message': message.isReply, 'float-right': !message.isReply, 'my-message': !message.isReply }"
              [ngStyle]="{
                'background-color': messageColor(message),
                '&:after.border-bottom-color': messageColor(message)
              }"
            >
              {{ message.message }}
            </div>
          </li>
        </ul>
      </div> <!-- end chat-history -->

      <div class="chat-message clearfix row" *ngIf="showForm">
        <div class="input-message">
          <textarea nbInput fullWidth name="message-to-send" id="message-to-send"
              #newMessageTextArea
              placeholder="Type your message"
              rows="3"
              [(ngModel)]="newMessageText"
              (keyup.enter)="onEnter($event)"
              >
            </textarea>
        </div>
        <div class="send-message">
          <button nbButton outline size="medium" (click)="onSendMessageClicked()">Send</button>
        </div>
      </div> <!-- end chat-message -->

    </div> <!-- end chat -->
  </nb-card-body>
</nb-card>
