$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

  .chat-card {
    height: 100% !important;
  }

  .chat {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    .chat-history {
      flex-grow: 8;

      padding: 0 25px 10px 0;
      border-bottom: 2px solid white;
      overflow-y: scroll;

      ul {
        list-style: none;
      }

      .info {
        margin-bottom: 15px;
        text-align: center;
      }

      .message-data {
        margin-bottom: 15px;
      }

      .message-data-time {
        color: lighten($gray, 8%);
        padding-left: 6px;
      }

      .message {
        // color: white;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 16px;
        width: 85%;
        position: relative;

        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
      }

      .my-message {
        background: $green;
        color: white;

        &:after {
          border-bottom-color: $green;
          left: 93%;
        }
      }

      .other-message {
        background: $blue;
      }

    }

    .chat-message {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding: 10px;
      margin: 0 7px;

      .input-message {
        flex-grow: 5;

        textarea {
          width: 100%;
          resize: none;
        }
      }

      .send-message {

        button {
          height: 72px;
          width: 100%;
          margin-left: 10px;

          cursor: pointer;
        }
      }

    }
  }

  .online, .offline, .me {
      margin-right: 3px;
      font-size: 10px;
    }

  .online {
    color: $green;
  }

  .offline {
    color: $orange;
  }

  .me {
    color: $blue;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  .clearfix::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ' ';
      clear: both;
      height: 0;
  }

  .close-btn {
    color: gray;
    cursor: pointer;
    float: right;
  }
