<div class="d-flex flex-row align-items-center">
  <div class="flex-shrink-0">
    <input nbInput
           class="date-input form-control"
           placeholder="dd-mm-yyyy"
           [nbDatepicker]="datepicker"
           [value]="dateComponent | displayDate"
           (change)="onDateTextChanged($event.target.value)"
           [disabled]="disabled"
           (blur)="onTouched"
    >
    <nb-datepicker
      [date]="dateComponent"
      (dateChange)="onDateChanged($event)"
      [format]="dateFormat"
      #datepicker
    ></nb-datepicker>
  </div>
  <div class="flex-shrink-0">
    <ngb-timepicker
      [(ngModel)]="timeComponent"
      (ngModelChange)="onTimeChanged()"
      [spinners]="false"
      [disabled]="disabled"
      (blur)="onTouched"></ngb-timepicker>
  </div>
</div>
